{% extends "template.html" %}
{%  block content %}
<h1 class="mt-5">Реєстр Апостилів</h1>

<div class="row">
    <div class="col">
        <form class="form-row" action="/apostile/search" method="post">
            <div class="col">
                <input name="query" value="{{s}}" type="text" class="form-control"
                       placeholder="Введіть дані для пошуку">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2">Пошук</button>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="col">
            <a href="/apostile/create">
                <button class="btn btn-outline-success">Створити</button>
            </a>
        </div>
    </div>
</div>

{%if aps %}
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Реєстраційний номер</th>
        <th>Дата реєстрації</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for ap in aps %}
    <tr>
        <td><a href="/apostile/{{ap.id}}">{{ap.number}}</a></td>
        <td>{{ap.date}}</td>
        <td>{%if ap.is_archived %}заархівований{%else%}доступний{%endif%}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for page in range(1, pages[-1] + 1) %}
        <li class="page-item{% if page == pages[0] %} active{% endif %}">
            <a class="page-link" href="/apostile?page={{page}}&search={{s}}">{{page}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% else %}
<h3>Нічого не знайдено</h3>
{% endif %}

{% endblock %}
