<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Перегляд</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./main_holder.html""> Апостилі <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./trusted_institutions.html">Довірені особи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./holders.html">Держателі</a>
            </li>
          </ul>
        </div>
          <a href="./login_page.html"><button class="btn btn-outline-success my-2 my-sm-0"> Log out </button></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

        </br>
        <table class="table table-bordered table-striped">
        <thead>
          <tr class="d-flex">
            <th class="text-center col-12">Apostille</br>Апостиль</br>(convention de La Haye du 5 octobre 1961 </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr class="d-flex">
            <td class="col-3">1. Країна</td>
            <td class="col-9">Україна</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">2. підписаний</td>
            <td class="col-9">Савченко О.П.</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">3. у якості</td>
            <td class="col-9">керівник</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">4. містить</br>проставлену</br>печатку/</br>штамп</td>
            <td class="col-9">Відділ державної реєстрації актів цивільного стану Білоцерківського міськрайонного стану Білоцерківського..</td>
          </tr>
          <tr class="d-flex">
            <td class="text-center col-12" >Підтверджено</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">5. в</td>
            <td class="col-4">м. Києві</td>
            <td class="col-2">6. Дата</td>
            <td class="col-3">08.12.2019</td>
          </tr >
          <tr class="d-flex">
            <td class="col-3">7. ким</td>
            <td class="col-9">Провідний спеціаліст Міністерства юстиції України Козка С.О.</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">8. за № </td>
            <td class="col-9">123456</td>
          </tr>

          <tr class="d-flex">
            <td class="col-7">9. Печатка / штамп </td>
            <td class="col-5">10. Підпис</td>
          </tr>

          <tr class="d-flex">
            <td class="col-7">Проставлено електронно-цифровий підпис (печатку) Міністерства юстиції України </td>
            <td class="col-5"><img class="col-12" src="https://upload.wikimedia.org/wikipedia/uk/f/fe/%D0%9A%D1%83%D0%BD%D1%86%D0%B5%D0%B2%D0%B8%D1%87_%D0%95%D0%B4%D0%B2%D0%B0%D1%80%D0%B4_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87_%D0%B0%D0%B2%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84.png"></td>
          </tr>
        </tbody>

      </table>
      <div class="row justify-content-center">
             <a class="col-2" href="./login_page.html"><button class="col-12 btn btn-outline-warning ">Achive</button></a>
             <a class="col-2" href="./login_page.html"><button disabled class="col-12 btn btn-outline-success ">Unachive</button></a>
      </div>

    </main>

    <footer class="footer">
      <div class="container d-flex">
        <span class="col-12 text-right text-muted ">All rights reserved</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="css/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
