<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Створення</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./main_holder.html"> Апостилі <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./trusted_institutions.html">Довірені особи</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./holders.html">Держателі</a>
            </li>
          </ul>
        </div>
          <a href="./login_page.html"><button class="btn btn-outline-success my-2 my-sm-0"> Log out </button></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        </br>
        </br>
        <form action="apostyl.html">

            <p class="text-center">Документ підписаний:</p>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Особою
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Органом
              </label>
            </div>
            </br>

            <p class="text-center">Особа, що підписала документ</p>
            <div class="row">
              <div class="col-4 form-group">
                <label for="surname_trusted">Прізвище</label>
                <input type="text" class="form-control" id="surname_trusted"  placeholder="Enter surname">
              </div>
              <div class="col-4 form-group">
                <label for="name_trusted">Ім'я</label>
                <input type="text" class="form-control" id="name_trusted" placeholder="name">
              </div>
              <div class="col-4 form-group">
                <label for="secondary_name_trusted">По-батькові</label>
                <input type="text" class="form-control" id="secondary_name_trusted" placeholder="secondary_name">
              </div>
            </div>
            </br>
            </br>
            </br>

            <p class="text-center">Орган, що підписав документ</p>
            <label for="trusted_institution" >Прізвище</label>
            <input type="text" class="form-control" id="trusted_institution" disabled  placeholder="Enter fullname">

            </br>
            </br>
            </br>
            <p class="text-center">Орган, що завірив апостиль</p>
            <div class="row">
              <div class="col-4 form-group">
                <label for="surname_checker">Прізвище</label>
                <input type="text" class="form-control" id="surname_checker"  placeholder="Enter surname">
              </div>
              <div class="col-4 form-group">
                <label for="name_checker">Ім'я</label>
                <input type="text" class="form-control" id="name_checker" placeholder="name">
              </div>
              <div class="col-4 form-group">
                <label for="secondary_name_checker">По-батькові</label>
                <input type="text" class="form-control" id="secondary_name_checker" placeholder="secondary_name">
              </div>
            </div>
            </br>
            </br>
            </br>
            <p class="text-center">Документ</p>

            <div class="col-4 form-group">
               <label for="exampleFormControlFile1">File input</label>
               <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </main>

    <footer class="footer">
      <div class="container d-flex">
        <span class="col-12 text-right text-muted ">All rights reserved</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="css/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
