{% extends "template.html" %}
{%  block content %}
<form action="/trusted/create_institution" method="post" enctype="multipart/form-data">
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="d-flex">
            <th class="text-center col-12"> Інформація про організацію, що завіряє документи</th>
        </tr>
        </thead>
        <tbody id="myTable4">
        <tr class="d-flex">
            <td class="col-3">Назва організації</td>
            <td class="col-9"><input required maxlength="50" type="text" class="form-control" name="inst_name"
                                     pattern="^[ a-zA-Zа-яА-ЯіІ,.]+$" placeholder="Введіть назву">
            </td>
        </tr>
        <tr class="d-flex">
            <td class="col-3">ПІБ відновідальної особи</td>
            <td class="col-9"><input required maxlength="50" type="text" class="form-control" name="person_name"
                                     pattern="^[ a-zA-Zа-яА-ЯіІ,.]+$" placeholder="Введіть ПІБ">
            </td>
        </tr>
        <tr class="d-flex">
            <td class="col-3">Посада відповідальної особи</td>
            <td class="col-9"><input required maxlength="50" type="text" class="form-control" name="person_position"
                                     pattern="^[ a-zA-Zа-яА-ЯіІ,.]+$" placeholder="Введіть посаду">
            </td>
        </tr>
        <tr class="d-flex">
            <td class="col-3">Місцезнаходження</td>
            <td class="col-9"><input required maxlength="50" type="text" class="form-control" name="location"
                                     placeholder="Введіть місцезнаходження"></td>
        </tr>
        <tr class="d-flex">
            <td class="col-3">Інформація про печатку</td>
            <td class="col-9"><input type="text" class="form-control" name="stamp_info"
                                     pattern="^[ a-zA-Zа-яА-ЯіІ,.]+$" placeholder="Введіть інформацію про печатку"
            ></td>
        </tr>
        <tr class="d-flex">
            <td class="col-3">Зразок підпису</td>
            <td class="col-9">
                <input type="file" required maxlength="50" class="form-control-file" name="sign_image">
            </td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}