<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Перегляд</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./main_holder.html""> Апостилі <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./trusted_institutions.html">Довірені особи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./holders.html">Держателі</a>
            </li>
          </ul>
        </div>
          <a href="./login_page.html"><button class="btn btn-outline-success my-2 my-sm-0"> Log out </button></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

        </br>

        <form action="trusted_institutions.html">
        <table class="table table-bordered table-striped">
        <thead>
          <tr class="d-flex">
            <th class="text-center col-12"> Інформація про особу, що завіряє документи </th>
          </tr>
        </thead>
        <tbody id="myTable4">
          <tr class="d-flex">
            <td class="col-3">Найменування контори чи відділу</td>
            <td class="col-9"><input type="text" class="form-control" id="organ_name"   placeholder="Enter organ name"</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Посада</td>
            <td class="col-9"><input type="text" class="form-control" id="trusted_posada"   placeholder="Enter posada"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Повне ім'я</td>
            <td class="col-9"><input type="text" class="form-control" id="full_name_trusted"   placeholder="Enter fullname"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Місцезнаходження контори</td>
            <td class="col-9"><input type="text" class="form-control" id="place"   placeholder="Enter place"></td>
          </tr>

          <tr class="d-flex">
            <td class="col-3">Номер свідоцтва на право заняття нотаріальною діяльністю</td>
            <td class="col-9"><input type="number" class="form-control" id="notarius_id"  placeholder="Enter id"></td>
          </tr>

          <tr class="d-flex">
            <td class="col-3">Дата призначення на посаду</td>
            <td class="col-9"><input type="date" class="form-control" id="start_working_date"></td>
          </tr>

          <tr class="d-flex">
            <td class="col-3">Зразок підпису</td>
            <td class="col-9">
                   <input type="file" class="form-control-file" id="exampleFormControlFile2">
            </td>
          </tr>
        </tbody>
      </table>

             <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </main>

    <footer class="footer">
      <div class="container d-flex">
        <span class="col-12 text-right text-muted ">All rights reserved</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="css/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
