{% extends "template.html" %}
{%  block content %}
<br/>
<form action="/holder/create" method="post">

    <h1 class="text-center">Створення нового держателя</h1>
    <br/>
    <br/>
    <br/>
    <label for="holder_name">Ім'я</label>
    <input required pattern="^[ a-zA-Zа-яА-ЯіІ,.]+$" maxlength="50" type="text" class="form-control col-4" id="holder_name" name="name" placeholder="Введіть ім'я">
    <br/>

    <label for="holder_email">Email</label>
    <input required type="email" class="form-control col-4" name="email" id="holder_email" placeholder="Введіть адресу електронної пошту">
    <br/>

    <label for="holder_pass">Пароль</label>
    <input required pattern="[A-Za-z0-9]{8,}" type="password" class="form-control col-4" name="pass" id="holder_pass" placeholder="Введіть пароль">
    <br/>

    <button type="submit" class="btn btn-primary">Створити</button>

</form>
{% endblock %}
