<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Перегляд</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./main_holder.html""> Апостилі <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./trusted_institutions.html">Довірені особи</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./holders.html">Держателі</a>
            </li>
          </ul>
        </div>
          <a href="./login_page.html"><button class="btn btn-outline-success my-2 my-sm-0"> Log out </button></a>

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

        </br>
        <table class="table table-bordered table-striped">
        <thead>
          <tr class="d-flex">
            <th class="text-center col-12"> Інформація про держателя </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr class="d-flex">
            <td class="col-3">Email</td>
            <td class="col-9">ivan.petrov@min.ust</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Пароль</td>
            <td class="col-9"> 12345678 </td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Повне ім'я</td>
            <td class="col-9">Іван Сергійович Петров</td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">Посада</td>
            <td class="col-9">Провідний спеціаліст Міністерства юстиції України</td>
          </tr>

        </tbody>

      </table>
      <div class="row justify-content-center">
             <a class="col-2" href="./login_page.html"><button class="col-12 btn btn-outline-warning ">Achive</button></a>
             <a class="col-2" href="./login_page.html"><button disabled class="col-12 btn btn-outline-success ">Unachive</button></a>
             <a class="col-2" href="./edit_holder.html"><button class="col-12 btn btn-outline-secondary ">Edit</button></a>
      </div>

    </main>

    <footer class="footer">
      <div class="container d-flex">
        <span class="col-12 text-right text-muted ">All rights reserved</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="css/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
