<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/login" method="post">
      <img class="mb-4" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hotpng.com%2Ffree-png-clipart-etuog&psig=AOvVaw1gqp_-BoJGyVpF1rK9FudV&ust=1589783872672000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDO7c6kuukCFQAAAAAdAAAAABAD" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Будь ласка, авторизуйтесь</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Електронна пошта" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
      <div class="checkbox mb-3">
        <span style="color: red">{{ msg }}</span>
      </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
  </body>
</html>
